* {
  margin: 0;
  padding: 0;
}
body {
  color: black;
  
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-image: url("pexels-jplenio-1103970.jpg")

}

.nav-links{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 23px;
}
.nav-links li{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 23px;
}
h2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 100px;
  padding-bottom: 500px;
  background-image: url("pexels-jplenio-1103970.jpg")
}

p{
  display: flex;
  justify-content: center;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 80px;
  padding-bottom: 500px;
  
}
.hero-about{
  display: flex;
  justify-content: center;
  background-image: url("pexels-jplenio-1103970.jpg")
  
}
h3{
  height: 100px;
}

